// These colors are specific to the theme. Do not use in a package!

@unbleached-silk: #FFDDCA;
@plain-mouse: #6E5F57;
@brown-rat: #3b3938;
@ink: #222222;
@black: #171412;

@sky-blue: #4D8FAC;
@water-blue: #86ABA5;
@vine-grape: #6D2B50;
@willow-dye: #a3b478;
@peach: #f46773;
@pure-crimson: #c30040;
@medium-crimson: #9f4256;
@buddhist-saffron: #FFB61E;
@cherry-blossom: #f7a086;
